/bin
/gen
/obj
/build
/gradle

ant.properties
local.properties
ForceStopGB.iml
gradle.properties
gradlew
gradlew.bat
project.properties
build.xml
custom_rules.xml
proguard-project.txt

/.classpath
/.project
/.settings
/.gradle
/.idea

*.log

.DS_Store
