<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moe.johnny.tombstone"
    android:installLocation="internalOnly">

    <uses-sdk
        android:maxSdkVersion="23"
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <permission
        android:name="moe.johnny.tombstone.permission.MANAGER"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="moe.johnny.tombstone.permission.MANAGER" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/light">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_summary" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.1+" />

        <activity
            android:name=".ui.PreventActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="moe.johnny.tombstone.NOT_SUPPORTED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AdvancedSettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/advanced_settings"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.UserGuideActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/user_guide"
            android:windowSoftInputMode="stateHidden" />

        <provider
            android:name=".ui.PreventProvider"
            android:authorities="moe.johnny.tombstone.provider"
            android:permission="android.permission.SHUTDOWN" />

    </application>

</manifest>